html, body {
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #132237;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-weight: 400;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

div {
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

/* iOS form controls style fix */
textarea,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
    -webkit-appearance: none;
    border-radius: 0;
}

/* Header - menu */
header nav {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.36);
    z-index: 100;
    background-color: #fff;
}
header nav .content {
    max-width: 960px;
    height: 65px;
    margin: 0 auto;
}
header nav .content .name {
    font-size: 15pt;
    font-weight: 400;
}
header nav .content::after {
    content: " ";
    display: block;
    clear: both;
}
header nav .content .logo {
    display: inline-flex;
    min-height: 65px;
    align-items: center;
}
header nav .content .logo img {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 0 22px;
}
header nav .content .social,
header nav .content .navigation {
    display: flex;
    float: right;
    height: 65px;
    align-items: center;
}
header nav .content .social ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 0;
}
header nav .content .social ul li {
    display: inline-block;
    padding: 0 5px;
}
header nav .content .social ul li:last-of-type {
    padding-right: 22px;
}
header nav .content .social ul li a {
    display: inline-block;
}
header nav .content .social ul li a img {
    width: 25px;
    height: 25px;
}
header nav .content .navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding-right: 30px;
    font-size: 0;
}
header nav .content .navigation ul li {
    display: inline-block;
    padding: 0 11px;
}
header nav .content .navigation ul li a {
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    color: #888;
    transition: all 0.3s ease;
}
header nav .content .navigation ul li a:hover {
    color: #555;
    transition: all 0.5s ease;
}
/* 
@media (max-width: 650px) {
    header nav .content .social,
    header nav .content .navigation {
        display: none;
    }
    
    header nav {
        position: relative;
    }
    #menuOpener {
        position: absolute;
        right: 27px;
        top: 27px;
        width: 40px;
        height: 40px;
        
        background-image: url("../img/menuOpener.svg");
        background-repeat: no-repeat;
        background-position: center;
        
        cursor: pointer;
    }
} */



main {
    background-color: #fff;
}

/* Main - claim */
main .claim {
    background-color: #132237;
    background-image: url("../img/claim/background-2.png");
    background-repeat: no-repeat;
    background-size: 1400px 450px;
    background-position: center center;
}
main .claim .wrapper {
    background-image: url("../img/claim/bottom.svg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 40px;
}
main .claim .content {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 35px;
}
main .claim .content h1 {
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #132237;
    margin-bottom: 30px;
}
main .claim .content img.people {
    width: 450px;
    float: left;
    margin-right: 35px;
}
main .claim .content p {
    color: #fff;
    font-size: 13px;
    padding-top: 35px;
}
main .claim .content p.work {
    text-align: right;
    padding-right: 35px;
    padding-top: 70px;
}
main .claim .content p.work a {
    border-radius: 20px;
    border: none;
    background-color: #B51A2B;
    color: white;
    cursor: pointer;
    padding: 7px 20px;
}
main .claim .content::after {
    content: " ";
    display: block;
    clear: both;
}

@media (max-width: 965px) {
    main .claim {
        padding-left: 10px;
        padding-right: 10px;
        background-size: cover;
    }
}

@media (max-width: 785px) {
    main .claim .content {
        text-align: center;
        padding-bottom: 40px;
    }
    main .claim .content img.people {
        float: none;
        margin: 0 auto;
        width: 100%;
        max-width: 450px;
    }
    main .claim .content p.work {
        text-align: center;
        padding-top: 30px;
        padding-right: 0;
    }
    main .claim .wrapper {
        background-image: none;
    }
}

/* Main - USP */
main > .usp {
    background-color: #3a070d;
    background-image: url("../img/usp/background2.png");
    background-position: center -60px;
    background-size: cover
}
main .usp .content {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px 0;
}
main .usp .content h2 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
}
main .usp .content .wrapper {
    width: 100%;
    position: relative;
}
main .usp .content .wrapper::after {
    content: " ";
    display: block;
    clear: both;
}
main .usp .content .wrapper .leftUsps,
main .usp .content .wrapper .rightUsps {
    float: left;
    width: 50%;
    min-height: 150px;
}
main .usp .content .wrapper .usp {
    margin-bottom: 40px;
}
main .usp .content .wrapper .usp img {
    width: 35px;
    margin-top: 6px;
}
main .usp .content .wrapper .usp h3 {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 8px;
}
main .usp .content .wrapper .usp p {
    color: #fff;
    font-size: 11px;
    max-width: 280px;
    text-shadow: 0px 0px 2px rgba(58, 7, 13, 1);
}

main .usp .content .wrapper .leftUsps .usp::after,
main .usp .content .wrapper .rightUsps .usp::after {
    content: " ";
    display: block;
    clear: both;
}
main .usp .content .wrapper .leftUsps .usp img {
    float: right;
    margin-left: 15px;
}
main .usp .content .wrapper .leftUsps .usp h3,
main .usp .content .wrapper .leftUsps .usp p {
    text-align: right;
}
main .usp .content .wrapper .leftUsps .usp p {
    float: right;
}

main .usp .content .wrapper .rightUsps .usp img {
    float: left;
    margin-right: 15px;
}
main .usp .content .wrapper .rightUsps .usp h3,
main .usp .content .wrapper .rightUsps .usp p {
    text-align: left;
}
main .usp .content .wrapper .rightUsps .usp p {
    float: left;
}
main .usp .content .wrapper .leftUsps .usp:first-of-type,
main .usp .content .wrapper .leftUsps .usp:nth-of-type(3) {
    margin-right: 40px;
}
main .usp .content .wrapper .leftUsps .usp:nth-of-type(2) {
    margin-right: 95px;
}
main .usp .content .wrapper .rightUsps .usp:first-of-type,
main .usp .content .wrapper .rightUsps .usp:nth-of-type(3) {
    margin-left: 40px;
}
main .usp .content .wrapper .rightUsps .usp:nth-of-type(2) {
    margin-left: 95px;
}

@media (max-width: 1440px) {
    main > .usp {
        background-size: 1440px;
    }
}
@media (max-width: 855px) {
    main .usp .content .wrapper .leftUsps .usp:first-of-type,
    main .usp .content .wrapper .leftUsps .usp:nth-of-type(3) {
        margin-right: 20px;
    }
    main .usp .content .wrapper .leftUsps .usp:nth-of-type(2) {
        margin-right: 20px;
    }
    main .usp .content .wrapper .rightUsps .usp:first-of-type,
    main .usp .content .wrapper .rightUsps .usp:nth-of-type(3) {
        margin-left: 20px;
    }
    main .usp .content .wrapper .rightUsps .usp:nth-of-type(2) {
        margin-left: 20px;
    }
}
@media (max-width: 730px) {
    main > .usp {
        padding-left: 10px;
        padding-right: 10px;
        background-size: 1940px;
    }
    main .usp .content .wrapper .leftUsps,
    main .usp .content .wrapper .rightUsps {
        float: none;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    main .usp .content .wrapper .leftUsps .usp img,
    main .usp .content .wrapper .rightUsps .usp img {
        float: left;
        margin-left: 0;
        margin-right: 15px;
    }
    main .usp .content .wrapper .leftUsps .usp h3,
    main .usp .content .wrapper .leftUsps .usp p {
        text-align: left;
    }
    main .usp .content .wrapper .leftUsps .usp p {
        float: left;
    }
    main .usp .content .wrapper .leftUsps .usp p,
    main .usp .content .wrapper .rightUsps .usp p {
        max-width: calc(100% - 50px);
    }
    main .usp .content .wrapper .leftUsps .usp:first-of-type,
    main .usp .content .wrapper .leftUsps .usp:nth-of-type(3) {
        margin-right: 0px;
    }
    main .usp .content .wrapper .leftUsps .usp:nth-of-type(2) {
        margin-right: 0px;
    }
    main .usp .content .wrapper .rightUsps .usp:first-of-type,
    main .usp .content .wrapper .rightUsps .usp:nth-of-type(3) {
        margin-left: 0px;
    }
    main .usp .content .wrapper .rightUsps .usp:nth-of-type(2) {
        margin-left: 0px;
    }
}

/* Main - newsletter */
main .newsletter {
    background-color: #f0f0f0;
}
main .newsletter .content {
    max-width: 960px;
    margin: 0 auto;
    padding: 80px 0;
}
main .newsletter .content h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #5f5f5f;
    text-transform: uppercase;
}
main .newsletter .content form {
    width: 100%;
    text-align: center;
}
main .newsletter .content form input[type="email"] {
    border-radius: 20px;
    border: 1px solid #d0d0d0;
    padding: 7px 20px;
    margin-right: 20px;
}
main .newsletter .content form input[type="submit"] {
    border-radius: 20px;
    border: none;
    background-color: #B51A2B;
    color: white;
    cursor: pointer;
    padding: 7px 20px;
}

@media (max-width: 460px) {
    main .newsletter .content {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 400px) {
    main .newsletter .content form input[type="email"],
    main .newsletter .content form input[type="submit"] {
        display: block;
        margin: 0 auto;
        min-width: 180px;
    }
    main .newsletter .content form input[type="email"] {
        margin-bottom: 15px;
    }
}

/* Main - contact info */
main .contact {
    max-width: 960px;
    margin: 0 auto;
    padding: 85px 65px;
}
main .contact .container {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: #f0f0f0;
}
main .contact .container .box {
    width: 33.33%;
    padding: 0 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}
main .contact .container .box img {
    width: 50px;
    margin-top: -89px;
}
main .contact .container .box h2 {
    text-align: center;
    color: #5f5f5f;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: -15px;
}
main .contact .container .box p {
    font-size: 12px;
    color: #959595;
    text-align: center;
}
main .contact .container .box.phone {
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
}

@media (max-width: 620px) {
    main .contact .container {
        display: block;
        background-color: #fff;
    }
    main .contact .container .box {
        background-color: #f0f0f0;
        width: 100%;
        margin-bottom: 50px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    main .contact .container .box.phone {
        border: none;
    }
}

/* Main - conditions */
main .conditions {
    background-color: #fff;
}
main .conditions .content {
    max-width: 960px;
    margin: 0 auto;
    padding: 80px 22px;
}

main .conditions .content h1 {
    margin-bottom: 22px;
    font-size: 22px;
    font-weight: 500;
}
main .conditions .content h2 {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 500;
}
main .conditions .content p {
    font-size: 14px;
}

footer {
    background-image: url("../img/footer/backgroundGradient.png");
    background-size: 100%;
}
footer .content {
    max-width: 960px;
    margin: 0 auto;
    padding: 12px 30px;
}
footer .content p {
    color: white;
    font-size: 11px;
}
footer .content p:first-of-type {
    font-size: 13px;
}